@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
Green: #67b26f
Blue: #4ca2cd
Mid: #5aaa9d
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    height: 100vh;
    display: flex;
    align-items: center; /* CROSS AXIS (vertical) */
    justify-content: center; /* MAIN AXIS (horizontal) */
}

.pizza {
  max-width: 800px;
  border-radius: 4px;
  box-shadow: 0 30px 80px 10px rgba(0, 0, 0, .2);
  display: flex;
  overflow: hidden;
}

.pizza__img {
    width: 100%;
    display: block;
}

.pizza__hero {
    flex: 0 0 45%;
}

.pizza__content {
    flex: 1;
    background: white;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
}

.pizza__price {
    background: linear-gradient(to bottom, #67b26f, #4ca2cd);
    flex: 0 0 50px;
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pizza__heading {
    font-size: 20px;
    margin-right: auto;
}

.pizza__tag {
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 7px;
    border-radius: 100px;
    margin-left: 7px;
}

.pizza__tag--1 { background-color: #67b26f; }
.pizza__tag--2 { background-color: #4ca2cd; }

.pizza__description {
    font-size: 14px;
}

.pizza__details {
    display: flex;
    margin-top: auto;
}

.pizza__detail {
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.emoji {
    font-size: 20px;
    margin-right: 3px;
}
